h1, h2 {
    text-decoration: underline;
    margin: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

section > * {
    margin-top: 10px;
}

.report {
    display: flex;
    flex-direction: column;
    background-color: cyan;
    width: auto;
}

.line {
    font-weight: bold;
}

.report > * {
    margin: 10px;
}

.report-page {
    font-size: 1em;
    margin-left: 50px;
    display: flex;
}

.report-section {
    background-color: lightgrey;
    border: thick double red;
  }

.row {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.sync > input[type="number"] {
    width: 50px;
}

.sync button {
    margin-left: 20px;
}

@media print {
    button, img {
        display: none;
    }
}
