h1 {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

section > * {
    margin-top: 10px;
}

.entry {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.entry > input[type="number"] {
    width: 50px;
}
