{{ define "main" }}

<article class="report-page">
  {{ range $itemName, $counts := . }}

  {{ $acc := createAcc }}

  <div class="report">
    <h2>{{ undoKebabCase $itemName}}</h2>

    <ul>
      {{ range $counts }}
      {{ $count := call $acc .Count }}
      <li>{{ $count.Count }} ({{ .Date }})</li>
      {{ end }}
    </ul>
    <!-- $acc increments by the given count, but here we only want the total. -->
    {{ $total := call $acc 0 }}

    <h3>Total: {{ $total.Total }}</h3>
  </div>
  {{ end }}

  <a href="report.html" download="payload.txt">Download!</a>
</article>

{{ end }}
