{{ define "start" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>Juice Inventory</title>
  </head>
  <body>
    {{ block "view" . }}

    <form action="/report" method="get">
      <input type="submit" value="Submit" />
    </form>
    {{ range . }}
    <section>
      <details>
        <summary>{{ . }}</summary>
        <button hx-get="/date/{{ kebabCase . }}" hx-swap="outerHTML">Add Date</button>
      </details>
    </section>
    {{ end }}

    <button hx-delete="/entries" hx-on:click="location.reload()">Reset Counts</button>

    {{ end }}
  </body>
  <script src="/app/js/htmx.min.js"></script>
</html>

{{ end }}
