{{ define "start" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>Juice Inventory</title>
  </head>
  <body>
    {{ block "view" . }}

    <div class="row">
      <form action="/report" method="get">
        <input type="submit" value="Submit" />
      </form>

      <button hx-post="/clear"
              hx-target=".entry"
              hx-swap="delete"
              hx-confirm="This will clear you current counts. Proceed?">Clear Counts</button>
    </div>

    {{ range . }}
    <section>
      <details>
        <summary>{{ . }}</summary>
        <button hx-get="/date/{{ kebabCase . }}" hx-swap="outerHTML">Add Date</button>
      </details>
    </section>
    {{ end }}

    {{ end }}
  </body>
  <script src="/app/js/htmx.min.js"></script>
</html>

{{ end }}
